@media (max-width: 720px) {

    .menu {
        display: none;
    }

    #button-change-theme {
        display: none;
    }

    #container {
        flex-direction: column;
        gap: 32px;
    }

    #container #container-foto {
        width: 100%;
    }

    #button-menu-burguer {
        display: block;
    }

    #about-service #text-about-service {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #about-service #art-foto {
        display: none;
    }

    #our-services {
        align-items: center;
    }

    #our-services-text h1 {
        margin-bottom: auto;
    }

    #our-services-card {
        flex-wrap: wrap;
        overflow: scroll;
        border: 1px solid black;
        border-radius: 12px;
    }

    .container-card-contacts {
        flex-wrap: wrap;
        overflow: scroll;
    }
}